# Estructuras básicas de programación en Python

Python es un lenguaje de programación orientado a objetos, en esta introducción comenzaremos viendo las estructuras más simples e iremos construyendo objetos más complejos a medida que avancemos.

## Tipos de datos

Los tipos de datos más frecuentes son los siguientes:
* int :  Número entero. Ejemplo : 2
* float : Número de punto flotante (decimal). Ejemplo: 3.587
* str : Cadena de caracteres. Ejemplo: 'Esto es una cadena'
* bool : Booleanos. {True,False}

Nota: No es lo mismo 2, 2.0 y '2'

In [2]:
print(type(2))
print(type(2.0))
print(type('2'))

<class 'int'>
<class 'float'>
<class 'str'>

### Conversiones entre tipos de datos

A menudo será necesario cambiar de tipos de datos según lo que nuestro problema nos pida, en algunas ocasiones este cambio puede ser realizado y más adelante veremos cómo es posible cambiar de tipo columnas enteras de un conjunto de datos. Mientras tanto, si solo buscamos cambiar un elemento es posible realizarlo a partir de las siguientes funciones:

In [3]:
# Cambio de un entero a un número de punto flotante
float(2)

2.0

In [5]:
# Cambio de un número de punto flotante a un número entero
int(-3.45)

-3

El cambio de un número de punto flotante a un entero consiste en excluir todo aquello que va después de la coma decimal.

In [6]:
# Cambiar un string por un entero
int('2')

2

Este cambio solo es posible siempre y cuando la cadena pueda indicar explícitamente un número entero

In [8]:
int('7.16')

ValueError: invalid literal for int() with base 10: '7.16'

In [9]:
int('Cadena')

ValueError: invalid literal for int() with base 10: 'Cadena'

In [11]:
# Cambiar un string por un número de punto flotante
float('6.356')

6.356

De igual forma, si la cadena no es un número obtenemos el siguiente mensaje de error

In [12]:
float('Cadena')

ValueError: could not convert string to float: 'Cadena'

Cualquier tipo de dato de los anteriores se puede cambiar a cadena de caracteres

In [13]:
str(2)

'2'

In [14]:
str(9.567)

'9.567'

Los booleanos pueden ser representados como números enteros siendo True = 1 y False = 0

In [16]:
int(True)

1

In [17]:
int(False)

0

In [18]:
float(True)

1.0

In [19]:
float(False)

0.0

## Importación de librerías y operaciones con tipos de datos

Lo primero que vamos a hacer en esta sección es importar una de las librerías más importantes de Python, NumPy. Aquí os dejo el enlace a la documentación del proyecto: 

Al importar librerías, es bastante frecuente que se denoten de una manera determinada por convenio. Aquí os dejo algunos de los convenios más frecuentes y que usaremos en el curso:

* import pandas as pd
* import numpy as np
* import matplotlib.pyplot as plt
* import seaborn as sns
* import plotly.graph_objects as go

In [21]:
import numpy as np

### Operaciones aritméticas

En la medida de lo posible debemos intentar realizar operaciones con tipos de números iguales aunque es posible hacer operaciones entre enteros y números de punto flotante, dando como resultado un número de punto flotante.

In [25]:
# La operación entre enteros da lugar a otro entero
suma = 5+8
print(f'El valor de la suma es {suma}')
print(f'El tipo de dato de la suma es {type(suma)}')

El valor de la suma es 13
El tipo de dato de la suma es <class 'int'>

In [29]:
# La operación entre números de punto flotante da lugar a un número de punto flotante
resta = 1.9085 - 3.291
print(f'El valor de la resta es {resta}')
print(f'El tipo de dato de la resta es {type(resta)}')

El valor de la resta es -1.3824999999999998
El tipo de dato de la resta es <class 'float'>

In [33]:
# La operación entre un número de punto flotante y un número entero es un número de punto flotante,
# aunque el resultado pueda ser un número entero
multiplicacion = 4 * 2.5 
print(f'El valor de la multiplicación es {multiplicacion}')
print(f'El tipo de dato de la multiplicación es {type(multiplicacion)}')

El valor de la multiplicación es 10.0
El tipo de dato de la multiplicación es <class 'float'>

In [ ]:
# ¿Qué tendría que hacer para pasar a entero la operación anterior?
int(multiplicacion)

In [34]:
# Para dividir tendríamos la siguiente operación
division = 12.345/8.965
print(f'El valor de la division es {division}')

# Para elevar un número a una potencia se utiliza el operador ** (dos símbolos de multiplicar consecutivos)

potencia = 3**4
print(f'El valor de la potencia es {potencia}')

El valor de la division es 1.3770217512548801
El valor de la potencia es 81

### Funciones básicas para operar con números

In [48]:
# Redondear un número
numero = 6.372

print('El resultado de redondear el número anterior a la primera cifra decimal es: {}'.format(round(numero,1))) # round(numero, cifras decimales a las que quiero redondear)
print('El resultado de redondear el número anterior a la segunda cifra decimal es: {}'.format(round(numero,2)))
print('')

# Calcular la raiz cuadrada de un número
raiz_numero = np.sqrt(numero)
print('El resultado de la raiz cuadrada del número anterior es:'.format({raiz_numero}))
print('')

# Logaritmo natural
log_numero = np.log(numero)
print(f'El logarítmo natural del número anterior es: {log_numero}')

# Constante Exponencial
e = np.exp(1)
print(f"El número e se consigue llamando a la función np.exp(1): {e}")

# Si queremos hacer la operación e^(número) entonces:
exp_numero = np.exp(numero)
print(f'El resultado de elevar el número e a la potencia del número anterior es: {exp_numero}')
print('')

# Senos, Cosenos y el número pi
pi = np.pi
print(f'Representación del número pi en numpy: {pi}')
print(f'Función seno (np.sin(número que queramos evaluar)): {np.sin(pi)}')
print(f'Función coseno (np.cos(número que queramos evaluar)): {np.cos(pi)}')

El resultado de redondear el número anterior a la primera cifra decimal es: 6.4
El resultado de redondear el número anterior a la segunda cifra decimal es: 6.37

El resultado de la raiz cuadrada del número anterior es:

El logarítmo natural del número anterior es: 1.8519133920478021
El número e se consigue llamando a la función np.exp(1): 2.718281828459045
El resultado de elevar el número e a la potencia del número anterior es: 585.2271134438683

Representación del número pi en numpy: 3.141592653589793
Función seno (np.sin(número que queramos evaluar)): 1.2246467991473532e-16
Función coseno (np.cos(número que queramos evaluar)): -1.0

En la documentación de esta librería encontraréis muchas más funciones que os serán utiles para procesar datos

### Operaciones lógicas

También es posible realizar operaciones con booleanos, como introducción, solo utilizaremos los operadores de &, | y ==.

In [49]:
# El operador & (o and) indica si se cumplen ambas condiciones al mismo tiempo
print(True & True)
print(False and True)

True
False

In [52]:
# El operador | (o or) indica si se cumple al menos una condición de las dos
print(True or False)
print(False | False)

True
False

In [51]:
# El operador == verifica si los miembros a ambos lados son iguales
print(2 == 2.0)
print('cadena' == numero)

True
False

### Operaciones con cadenas

In [54]:
cadena = 'Esto es una cadena de caracteres'

In [55]:
# Pasar todo a mayúsculas
cadena.upper()

'ESTO ES UNA CADENA DE CARACTERES'

In [56]:
# Pasar todo a minúsculas
cadena.lower()

'esto es una cadena de caracteres'

In [57]:
# Realmente no he modificado el objeto inicial al no declararlo como tal
cadena

'Esto es una cadena de caracteres'

In [59]:
# Verificar si empieza por una expresión en concreto
print(cadena.startswith('Esto'))
print(cadena.startswith('esto'))

True
False

In [60]:
# Verificar si termina por alguna expresión concreta
print(cadena.endswith('res'))
print(cadena.endswith('error'))

True
False

In [ ]:
# Reemplazar una cadena por otra
print(cadena.replace('caracteres','strings'))

Una manera más "flexible" de identificar patrones dentro de una cadena de caracteres se realiza mediante el uso de expresiones regulares (regex). Enlace para saber más sobre expresiones regulares: https://docs.python.org/3/library/re.html

## Fechas como tipo de datos

Para trabajar con fechas es recomendable usar la librería datetime, dado que esta librería es extensa, vamos a utilizar unas funciones básicas para trabajar y generar fechas.

In [61]:
from datetime import datetime, timedelta, date

La funcion datetime nos servirá para generar fechas completas, timedelta para sumar o restar días o segundos y date es una estructura alternativa que prescinde de horas minutos y segundos.

In [62]:
# Para obtener la fecha y hora de este momento
datetime.now()

datetime.datetime(2021, 9, 10, 18, 28, 36, 323295)

In [65]:
# Indicar una fecha determinada
fecha = datetime(2012,6,11,21,33,55,874) # Año, mes, día, horas, minutos, segundos y microsegundos
fecha

datetime.datetime(2012, 6, 11, 21, 33, 55, 874)

In [66]:
# Si muestro por pantalla con un print esta fecha me formatea el resultado
print(fecha)

2012-06-11 21:33:55.000874

In [74]:
# Es posible acceder a cada uno de los elementos de la fecha

print('El año es el {}'.format(fecha.year))
print('El mes es el {}'.format(fecha.month))
print('El dia es el {}'.format(fecha.day))
print('La hora es las {}'.format(fecha.hour))
print('Los minutos son {}'.format(fecha.minute))
print('Los segundos son {}'.format(fecha.second))
print('Los microsegundos son {}'.format(fecha.microsecond))

El año es el 2012
El mes es el 6
El dia es el 11
La hora es las 21
Los minutos son 33
Los segundos son 55
Los microsegundos son 874

In [86]:
# En caso de no indicar alguno de los valores anteriores los imputa por defecto
fecha_con_missing = datetime(2013,3,6)
fecha_con_missing

datetime.datetime(2013, 3, 6, 0, 0)

In [87]:
print(fecha_con_missing)

2013-03-06 00:00:00

### Estructura alternativa con la funcion date

In [80]:
# La funcion date solo necesita tres atributos, año, mes y día
fecha_date = date(2012,6,11)
fecha_date

datetime.date(2012, 6, 11)

In [81]:
print(fecha_date)

2012-06-11

In [88]:
# De la misma forma puedo acceder a los argumentos de la fecha que he construido con date
print('El año es el {}'.format(fecha_date.year))
print('El mes es el {}'.format(fecha_date.month))
print('El dia es el {}'.format(fecha_date.day))

El año es el 2012
El mes es el 6
El dia es el 11

### Operaciones con fechas

In [75]:
# Añadir 3 días a la fecha anterior
fecha + timedelta(days = 3)

datetime.datetime(2012, 6, 14, 21, 33, 55, 874)

In [76]:
# Restar 6 horas
fecha - timedelta(seconds = 3600*6) # Se deben pasar los segundos a horas y restar

datetime.datetime(2012, 6, 11, 15, 33, 55, 874)

### Convertir strings a fechas y viceversa

Para pasar de fecha a cadena es un cambio inmediato, basta con indicarselo, sin embargo para pasar de cadena a fecha, es necesario indicarle un formato. 

También es posible indicar un formato a una fecha para que una cadena quede formateada de una forma concreta.

In [90]:
str_fecha = str(fecha)
str_fecha

'2012-06-11 21:33:55.000874'

In [97]:
datetime.strptime(str_fecha,'%Y-%m-%d %H:%M:%S.%f')

datetime.datetime(2012, 6, 11, 21, 33, 55, 874)

In [98]:
# Verificar que los dos elementos son iguales
fecha == datetime.strptime(str_fecha,'%Y-%m-%d %H:%M:%S.%f')

True